@import "custom";
@import "~bootstrap/scss/bootstrap";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
body {
    background: #008B95 !important;
}

/* width */
body::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #7AB800;
    border-radius: 10px;
  }

  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: white;
  }

/* NAVBAR */
.bg-light {
    padding: 0 !important;
}

.container-fluid {
    background-color: #00549F;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.nav-icon {
    height: 20px;
    margin-right: 0.5rem;
}

.nav-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #7AB800 !important;
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar-light .navbar-toggler {
    border: none !important;
    color: white !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: none !important;
}

.navbar-responsive {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hamburger-menu {
    width: 100%;
}

.smi-logo {
    width: 100px;
}

/* HOME */
.carousel-caption {
    text-shadow: 2px 2px 8px #818A8F;
}

.carousel-item > img {
    max-height: 45rem !important;
}

.title-home {
    color: #008B95 !important;
}

/* WHO WE ARE */
.card {
    background: transparent !important;
    border: none !important;
    margin: 10px;
}

.card-body {
    align-items: flex-start;
    /* border: white solid 1px; */
    display: flex !important;
    /* text-align: center; */
    flex-direction: column;
}

.card-group {
    margin: auto;
    width: 80%;
}

.card-img {
    height: 100%;
}

.card-text {
    color: white;
}

.card-title {
    color: white;
}

.carousel {
    background-image: url("../images/polpo_colore.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.carousel-indicators {
    margin-bottom: 0 !important;
    position: relative !important;
}

.carousel-who {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.title-who {
    color: white;
    margin: auto;
    margin-top: 5%;
    width: 80%;
}

/* SERVICES */

.card:hover .card-services {
    opacity: 0.3;
}

.card:hover .card-services-body {
    opacity: 1;
}

.card-button {
    background: none;
    border: none;
}

.card-img-top {
    height: 25vh !important;
}

.card-services {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.card-serv-text {
    color: #818A8F;
    font-size: 10px;
}

.card-serv-title {
    color: #008B95;
}

.card-services-body {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card-services-container {
    margin: 0 !important;
}

.col {
    /* border: solid black 1px; */
    margin: 0 !important;
    margin-bottom: 2.5rem !important;
    padding: 0 !important;
    padding-left: 0.625rem !important;
    padding-right: 0.625rem !important;
}

.col-card {
    background-color: white;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
    height: 100%;
    transition: all 200ms ease-out;
}

.col-card:hover {
    box-shadow: 1px 1px 2px #00549F, 0 0 1em #7AB800, 0 0 0.2em white;
}

.line {
    border-top: 5px solid white;
    border-radius: 5px;
}

.row {
    margin: auto !important;
    width: 80%;
}

.services-title {
    background-color: #7AB800;
    color: white;
    font-size: 12px;
    padding: 16px 32px;
}

.services-top {
    margin: auto;
    width: 80%;
}

.title-serv {
    color: white;
    padding: 10px;
}

/* CONTACT */

.btn {
    background-color: #7AB800 !important;
    border: none !important;
}

.contact {
    align-items: flex-end;
    background-image: url("../images/giraffa.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #0551604a;
    display: flex;
    height: 60vh;
    justify-content: space-between;
}

.contact-form {
    margin: auto;
    padding: 20px;
    width: 50%;
}

.contact-title {
    color: white;
}

.form-control {
    background-color: #dce1d100 !important;
    border: none !important;
    border-bottom: solid black 1px !important;
    margin-bottom: 0.5rem;
}

.form-control {
    overflow-y: scroll;
    resize: none;
}

input:focus {
    border: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #7AB800 !important;
}

textarea:focus {
    border: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #7AB800 !important;
}

.form-control::placeholder {
    color: #00585f !important;
}

.form-control::-webkit-scrollbar {
    width: 10px;
}

.form-control::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

.form-control::-webkit-scrollbar-thumb {
    background: #7AB800; 
    border-radius: 10px;
}

.form-control::-webkit-scrollbar-thumb:hover {
    background: white; 
}

.form-group > label {
    color: #ffffff99;
}

.list-contact {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.list-group {
    list-style: none;
    text-align: center;
}

.list-group > li {
    color: white;
}

.list-group-item {
    background: none !important;
    color: #7AB800 !important;
}

/* FOOTER */
.container-footer {
    display: flex;
    justify-content: center;
}

.container-footer > p {
    color: white;
    margin-top: 5px !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.footer-copyright {
    background: #75af00  !important;
}

.grey-text {
    text-decoration: none !important;
    color: white !important;
}

.img-footer {
    height: 35px;
    margin-top: 15px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.list-footer{
    list-style-type: none;
}

.offset-l1 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px !important;
}

.page-footer {
    background-color: #7AB800;
}

.payoff-smi {
    margin: auto;
    margin-top: 5px !important;
    width: 100px !important;
}